.middle-square-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
	gap: 10px;
	padding-top: 10px;
}

.form {
	width: 20em;
	padding: 15px;
	background-color: var(--color-app);
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.form input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

h1 {
  font-size: 2em;
}

.button-submit{
  display: block;
	background: var(--background-color-app);
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: fit-content;
	padding: 10px 20px;
	border-radius: 5px;
	color: var(--color-app);
	font-size: 1em;
	transition: .3s ease all;
}

.button-submit:hover {
  background: var(--background-color-hover-app);
}

.successfully {
	text-align: center;
	font-size: 14px;
	padding-top: 10px;
	color: #02a802;
  background-color: aliceblue;
}

/* LabelInputField */
.label-input-field-container {
	width: 18em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.label-input {
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.label {
	font-size: 1.3em;
}

.field {
	width: 8em;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 0.9em;
	padding: 0.6em;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.message-error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 0.9em;
	padding: 0 20px 5px 0;
}
