.table-container {
  border-collapse: collapse;
  margin: 10px;
  font-size: 1em;
  min-width: 700px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.table-container thead tr {
  background-color: var(--background-color-app);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  text-align: center;
  user-select: none;
}

.table-container tbody tr {
  border-bottom: 1px solid #e6e1e1;
}

.table-container tbody tr:nth-of-type(even) {
  background-color: #dbd8d8;
}

tr:nth-of-type()

.table-container tbody tr:last-of-type {
  border-bottom: 4px solid #009879;
}
